$santa-blue: #3ec4f0;

body {
  background: #d1d1d1;
}

.santa-header,
.santa-footer {
  @extend %clearfix;
  background: #3ec4f0;
  padding: 20px;

  p {
    margin: 0;
    font-family: "Roboto Slab";
  }
}

.santa-header p {
  float: left;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  position: relative;
  top: -2px;
  font-weight: 300;
}

.connection-status {
  @extend %clearfix;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 3px;
  background: #eee;
  padding: 10px 5px 5px 15px;

  p {
    color: #555;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  .indicator {
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
  }

  .indicator.nice {
    background: #63d95e;
    color: darken(#63d95e, 30%);
    border: 1px solid darken(#63d95e, 10%);
    -webkit-animation: niceBeacon 1s infinite;
    -moz-animation: niceBeacon 1s infinite;
    -ms-animation: niceBeacon 1s infinite;
    -o-animation: niceBeacon 1s infinite;
    animation: niceBeacon 1s infinite;
  }

  .indicator.naughty {
    background: #e02f2d;
    color: darken(#e02f2d, 20%);
    border: 1px solid darken(#e02f2d, 10%);
    -webkit-animation: naughtyBeacon 1s infinite;
    -moz-animation: naughtyBeacon 1s infinite;
    -ms-animation: naughtyBeacon 1s infinite;
    -o-animation: naughtyBeacon 1s infinite;
    animation: naughtyBeacon 1s infinite;
  }
}

.santa-tips {
  background: darken($santa-blue, 20%);
  padding: 20px;
  position: absolute;
  left: 0; right: 0;
  bottom: 60px;
  color: #fff;
  overflow-x: hidden;

  .tips {
    margin: 0;
  }

  .title {
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto Slab";
    font-weight: 300;
    background: darken($santa-blue, 30%);
    height: 60px;
    padding: 18px 20px 0 20px;
  }

  .marquee {
    width: 5000px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-animation: marquee 45s linear infinite;
    -moz-animation: marquee 45s linear infinite;
    -ms-animation: marquee 45s linear infinite;
    -o-animation: marquee 45s linear infinite;
    animation: marquee 45s linear infinite;

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  .tips a {
    color: #fff;
    padding-left: 30px;
    text-decoration: underline;
    padding-bottom: 5px;

    &:hover {
      color: lighten($santa-blue, 10%);
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.santa-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.santa-footer p {
  margin: 0;
  color: darken($santa-blue, 30%);

  a {
    color: darken($santa-blue, 30%);
    border-bottom: 1px solid darken($santa-blue, 15%);
  }
}

#map {
  position: absolute;
  top: 60px;
  bottom: 120px;
  width: 100%;
}
