<template name="learnAboutSanta">
  <div class="learn-about-santa">
    <p class="title">Learn About Santa</p>
    <p class="tips marquee">
      <a href="#">How does Santa Claus get around the whole world in one night?</a>
      <a href="#">How does Santa Claus deliver presents to kids without a chimney?</a>
      <a href="#">How does Santa Claus feel about Florida's "stand your ground" law?</a>
      <a href="#">Do Santa's reindeer ever get tired?</a>
      <a href="#">What do Santa's elves do after Christmas?</a>
      <a href="#">How come Santa Claus doesn't get fatter from all of the milk and cookies he eats?</a>
    </p>
  </div>
</template>
